/* Navbar */

.account_navbar_container {
    height: 55px;
    padding-right: 40px;
}

.account_navbar {
    background: white!important;
    justify-content: space-between;
    align-items: center!important;
    min-height: 0!important;
    padding-top: 40px;
    padding-bottom: 40px;
}

.account_navbar_logo {
    width: 50px;
    height: 50px;
}

.account_navbar_profile {
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}

.account_navbar_profile img {
    width: 100%;
    height: 100%;
}

.account_modal {
    width: 170px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 22px;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
}

.account_modal_container .MuiDrawer-paperAnchorTop {
    left: auto!important;
    top: auto!important;
    border: none!important;
    z-index: -999!important;
}

.account_modal_btn {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: right;
    width: 100%;
    outline: none;
}

/* Content */

.account_content {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f3f2ef;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.account_content_left {
    width: 60%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.account_info_container {
    width: 95%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

.account_info_container h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    color: black;
    margin: 0;
}

.account_info_container h4 {
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
}

.account_profile_image {
    width: 125px;
    height: 125px;
    border-radius: 40px;
    overflow: hidden;
}

.account_startup_btn {
    width: 218px;
    height: 40px;
    color: white;
    background: var(--main-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    outline: none;
}

.account_edit_button {
    height: 35px;
    width: 100px;
    color: var(--main-blue);
    background: transparent;
    align-self: flex-start;
    border-radius: 20px;
    border: 2px solid var(--main-blue);
    font-size: 17px;
    font-weight: 600;
    margin-top: 62px;
    padding: 0px 15px;
    box-sizing: content-box;
    outline: none;
    zoom: 0.9;
}

.account_startups_container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    border-radius: 15px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.account_right_container {
    width: 20%;
    height: 400px;
    background: white;
    border-radius: 15px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}

.account_info_container_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.account_info_container_left_bottom {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.account_info_container_left_bottom img {
    width: 15px;
    height: 15px;
}

.account_info_container_left p {
    font-weight: bold;
    margin-left: 2px;
    font-size: 13px;
    word-spacing: -2px;
}

.account_info_container_right {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    height: 100%;
    padding-top: 45px;
    box-sizing: border-box;
}

.account_info_container_right_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.account_info_container_right_info {
    width: 100%;
    display: flex;
    align-items: center;
}

.account_warning_container {
    margin-top: 3px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_warning_container img {
    width: 20px;
    height: 20px;
}

.account_tooltip {
    visibility: hidden;
    width: 170px;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    background: rgba(227, 226, 226, 0.48);
    color: #D00B0B;
    text-align: center;
    border-radius: 15px;
    padding: 10px 0;
    margin-left: 10px;
    z-index: 1;
}

.account_warning_container:hover .account_tooltip {
    visibility: visible;
}

/* Startup Item */

.account_startup_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    padding-left: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.account_startups_container_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.account_startups_container_bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account_startups_container_empty_text {
    color: #AEAEAE;
    font-weight: 500;
    margin-bottom: 0;
}

.account_startup_left {
    width: 10%;
    align-self: flex-start;
    margin-top: 20px;
}

.account_startup_left img {
    width: 100%;
}

.account_startup_right {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15px;
}

.account_startup_right h3, .account_startup_right p {
    margin: 0;
    margin-bottom: 5px;
}

.account_startup_right h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.account_startup_right h3 span {
    margin-left: 5px;
    color: #706E6E;
    font-size: 15px;
    font-style: italic;
}

.account_startup_right p {
    font-family: var(--roboto);
    font-weight: normal;
    font-size: 15px;
}

.account_startup_right_location_span {
    color: #706E6E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.account_startup_right_location_span p {
    margin-left: 2px;
    margin-bottom: 0;
}

.account_startup_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.account_startup_button_container button {
    width: 135px;
    height: 40px;
    zoom: 0.75;
    background: #F8C924;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: white;
    outline: none;
}

.account_startup_right hr {
    width: 100%;
    background: #A5A4A4;
    border: 0.7px solid #A5A4A4;
    margin-top: 30px;
}

.account_add_startup_button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}

.account_add_startup_button img {
    width: 100%;
    height: 100%;
}

.resend_link {
    background: transparent;
    color: var(--main-blue);
    font-size: 15px;
    text-decoration: underline;
    border: none;
}