.home_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 5;
}
.home_wrapper {
    width: 100%;
    height: calc(100vh);
    background: linear-gradient(0deg, #2998F6, #383A73);
}
.home_center_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.home_center_text {
    color: white;
    font-weight: normal;
    font-size: 31px;
    text-align: left;
    max-width: 600px;
    font-weight: 600;
    margin: 0;
    width: 769px;
}
.home_cover_image {
    zoom: 0.85;
}
.home_button {
    width: 343px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 35px;
    font-weight: 600;
    font-size: 22px;
    color: #383A73;
    text-align: center;
    outline: none;
    border: none;
    padding: 12px 40px 12px 40px;
}
.home_button:nth-child(1){
    margin-top: 45px;
}
.home_content {
    width: 100%;
}
.home_content_container {
    width: 100%;
    padding-top: 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_content_topText {
    font-weight: normal;
    color: #190c70;
    text-align: center;
}
.home_content_startup_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.home_content_button {
    width: 218px;
    height: 52px;
    background: #1976D5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 36px;
    margin-bottom: 35px;
    outline: none;
    text-transform: uppercase;
}
.home_startup_container {
    width: 260px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home_startups_third .home_startup_container {
    margin-left: 0px;
}
.home_startup_logo {
    width: 100%;
    height: 246px;
}
.home_startup_name {
    font-weight: normal;
    color: #190c70;
    text-align: center;
    margin-bottom: -15px;
    margin-top: 21px;
}
.home_startup_description {
    font-weight: 600;
    font-size: 22px;
    color: #383A73;
    text-align: center;
    text-decoration: none;
}
.home_startup_button {
    width: 168px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 35px;
    border: none;
    align-self: center;
    color: #383A73;
    font-weight: 600;
    font-size: 18px;
}
#home_startups_second .home_content_startup_container {
    padding-right: 0;
}
#home_startups_second .home_startup_container {
    margin-left: 0;
}
